* {
    box-sizing: border-box;
}

body, html, ul {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: RubikRegular;
    src: url(assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: RubikMedium;
    src: url(assets/fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: RubikBold;
    src: url(assets/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(assets/fonts/RobotoRegular.ttf)
}

a, p, li, span {
    font-family: RubikRegular;
    font-weight: 400;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

header.top {
    display: flex;
    justify-content: center;
    height: 161px;
} 

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.header-wrapper {
    display: flex;
    width: 1195px;
}

.header__left {
    padding: 30px 0;
}

.header__left_logo {
    display: block;
    background: url(assets/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.header__right {
    display: flex;
    flex-direction: column;
    margin-left: 79px;
    width: 100%;
}

.header__right_top {
    border-bottom: 1px solid rgba(24, 79, 119, 0.1);
}

.header__right_top-right {
    align-items: center;
}

.header__right_top, 
.header__right_bottom,
.header__right_top-right,
.header__right_bottom-right {
    display: flex;
}

.header__right_top-left {
    align-items: center;
    font-family: RubikRegular;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    color: #184F77;
}

.header__right_top,
.header__right_bottom {
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__right_top-right
.tel {
    font-family: RubikBold;
    font-weight: 700;
    color: #184F77;
}

.backcall {
    border-radius: 50px;
    border: 2px solid #3CACFE;
    padding: 13px 26px;
    cursor: pointer;
    color: #3CACFE;
    font-weight: 500;
    font-family: RubikMedium;
    margin: 0 23px;
}

.search
input {
    width: 378px;
    height: 40px;
    padding: 15px 40px 15px 20px;
    border: none;
    border-radius: 50px;
    background: rgba(241, 245, 249, 1);
    outline: none;
}

.search
input:focus {
    border: none;
}

.search {
    position: relative;
}

.search
.search-pic {
    position: absolute;
    background: url(assets/images/loop.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.header__right_bottom
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__right_bottom
ul {
    display: flex;
}

.header__right_bottom
li {
    display: inline-block;
}

.header__right_bottom
li
a {
    font-family: RubikMedium;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: #184F77;
}

.header__right_bottom
li:hover
a, 
.header__right_bottom
li.active
a {
    color: rgba(60, 172, 254, 1);
}

.header__right_bottom
li:not(:first-child) {
    margin-left: 50px;
}

.header__right_bottom-right {
    align-items: center;
}

.header__right_bottom-right
.cabinet {
    position: relative;
    cursor: pointer;
    font-family: RubikRegular;
    font-weight: 400;
}

.header__right_bottom-right
.cabinet:before {
    content: url(assets/images/auth.svg);
    position: absolute;
    left: -25px;
}

.header__right_bottom-right
.choosed {
    display: flex;
    cursor: pointer;
    margin-left: 37px;
    align-items: center;
}

.header__right_bottom-right
.basket {
    display: flex;
    background: url(assets/images/basket.svg);
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    position: relative;
}

.header__right_bottom-right
.amount {
    background: #184F77;
    border: 2px solid #FFFFFF; 
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -10px;
    padding: 1px 4px;
    text-align: center;
    color: white;
    font-family: RubikBold;
    font-weight: 700;
    font-size: 12px;
}

.header__right_bottom-right
.choosed
p {
    margin: 0;
    margin-left: 23px;
    line-height: 35px;
    font-family: RubikMedium;
    font-weight: 500;
    font-size: 20px;
    color: #184F77;
}

.header__right_bottom-right {
    margin-left: 37px;
}

.main-info_wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #3CACFE 0%, #60BBFE 100%);
}

.main-info {
    background: url('./assets/images/mainscreen.jpg') no-repeat center;
    height: 710px;
    width: 1732px;
    display: flex;
    justify-content: center;
}

.main-info__product {
    width: 1195px;
    display: flex;
}

.main-info__description {
    margin-top: 72px;
    width: 470px;
}

.main-info__description
p {
    margin: 0;
}

.white {
    color: white;
}

.description__upperhead {
    opacity: 0.5;
    font-size: 14px;
}

.description__heading {
    font-family: RubikBold;
    font-size: 30px;
    font-weight: 700;
    margin-top: 9px;
    line-height: 42px;
    width: 410px;
}

.description__text {
    font-size: 16px;
    line-height: 29px;
    width: 410px
}

.description__bottom {
    display: flex;
    margin-top: 49px;
}

.description__price {
    display: flex;
    flex-direction: column;
    font-family: RubikMedium;
}

.description__price
.discount {
    display: flex;
}

.description__price
.percent {
    padding: 4px;
    background: white;
    border-radius: 5px;
    color: #3CACFE;
    font-size: 16px;
}

.description__price
.old-price {
    opacity: 0.7;
    line-height: 26px;
    margin-left: 10px;
    font-family: RubikRegular;
}

.description__price
.new-price {
    margin: 0;
    margin-top: 15px;
    font: 20px RubikMedium;
}

.description__bottom
.more-details {
    font: 14px RubikBold;
    color: white;
    text-align: center;
    line-height: 63px;
    background: inherit;
    padding: 0 39px;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 70px;
    margin-left: 41px;
}

.description__buttons {
    display: flex;
    margin-top: 69px;
}

.description__buttons
.leaf {
    background-color: #3CACFE;
}

.leaf {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    border: 3px solid #FFFFFF;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.leaf-back {
    background-image: url(assets/images/arrow.svg);
    left: -30px;
}

.leaf-forward {
    margin-left: 15px;
    background-image: url(assets/images/arrow.svg);
    background-position-y: 19px;
    transform: rotate(180deg);
    right: -30px;
}

.leaf.clickable {
    background-image: url(assets/images/arrow-clickable.svg);
    background-color: white;
    background-position-y: 16px;
}

.carousel {
    display: flex;
    align-items: center;
}

.offer
.leaf {
    border: none;
    background-image: url(assets/images/arrow-black.svg);
    background-color: #E5E5E5;
}

.offer,
.brends,
.comments,
.contacts,
.subscribe,
.footer-page {
    position: relative;
    margin: 0 auto;
    width: 1195px;
}

.offer-wrapper {
    background: #E5E5E5;
    width: 100%;
    padding-bottom: 100px;
}

.offer__heading,
.brends__heading,
.comments__heading,
.subscribe__heading,
.contacts__description-heading {
    display: inline-block;
    font: 35px RubikBold;
    color: #184F77;
    margin: 80px 0 50px 0;
}

.ticket {
    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    height: 408px;
    width: 276px;
}

.ticket:not(:last-child) {
    margin-right: 30px;
}

.ticket__price {
    margin-top: 20px;
    margin-bottom: 21px;
    display: flex;
    font-weight: 500;
    font-family: RubikMedium;
    font-size: 14px;
    line-height: 25px;
}

.ticket__description {
    height: 64px;
    overflow: hidden;
    margin: 0;
    font-size: 13px;
    color: rgba(24, 79, 119, 1);
    line-height: 16px;
}

.offer__leaf {
    position: absolute;
    z-index: 1;
}

.ticket__image {
    background-position: center;
    width: 236px;
    height: 236px;
}

.ticket__price 
.percent {
    padding: 0 8px;
    background: #3CACFE;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin-left: 25px;
}

.ticket__price 
del {
    margin-left: 8px;
    color: rgba(24, 79, 119, 0.4);
    font-weight: 400;
}

.ticket-special {
    width: 582px;
    flex-basis: 582px;
    background: rgb(255, 255, 255);
    padding: 50px;
    position: relative;
    height: 407px;
}

.offer__special
.ticket {
    margin: 0;
}

.offer__special {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket-special__heading {
    font-size: 20px;
    font-weight: 500;
    color: rgba(24, 79, 119, 1);
    margin: 0;
    font-family: RubikMedium; 
}

.ticket-special__list {
    margin: 30px 0 35px 18px;
}

.ticket-special__list
li {
    color: rgba(24, 79, 119, 1);
    font-size: 15px;
    margin-bottom: 20px;
}

.ticket-special__list
li::marker {
    color: #3CACFE;
}

.ticket-special__underheading {
    font-family: RubikRegular;
    color: rgba(24, 79, 119, 0.5);
    font-weight: 400;
    line-height: 22,5px;
    width: 277px;
}

.ticket-special__logo {
    background-repeat: no-repeat;
    height: 82px;
    width: 185px;
    background-position: right;
    position: absolute;
    top: 50px;
    right: 50px;
}

.ticket-special__button {
    border-radius: 70px;
    border: rgba(60, 172, 254, 1) solid 2px;
    padding: 0 33px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-family: RubikBold;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.ticket-special__button-catalog {
    background: linear-gradient(90deg, #60BBFE 0%, #3CACFE 100%);
    color: white;
}

.ticket-special__button-more {
    margin-left: 10px;
    background: white;
    color: rgba(60, 172, 254, 1);
}

.brends-carousel {
    background:rgba(255, 255, 255, 1);
    padding: 0px;
    position: relative;
}

.brends__item {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 140px;
}

.brends__item {
    margin-left: 111px;
}

.brends__item:first-child {
    margin-left: 72px;
}

.brends__leaf {
    position: absolute;
    border: none;
    background-color: #E5E5E5;
    background-image: url(assets/images/arrow-black.svg);
}

.comments__top {
    display: flex;
    justify-content: space-between;
}

.comments__leave {
    border: none;
    background:rgba(60, 172, 254, 1);
    text-align: center;
    line-height: 50px;
    padding: 0 33px;
    font-size: 14px;
    height: 50px;
    border-radius: 70px;
    margin-top: 80px;
    color: white;
}

.comments__main {
    background: rgba(255,255,255,1)
}

.comments__block {
    padding: 50px;
}

.comments__block:not(:first-child) {
    border-top: 1px solid rgba(24, 79, 119, 0.1);
}

.comments__raiting {
    display: flex;
}

.comments__raiting-star {
    background-image: url(assets/images/star.svg);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.comments__raiting-star.filled {
    background-image: url(assets/images/star-filled.svg);
}

.comments__raiting-star:not(:first-child) {
    margin-left: 5px;
}

.comments__text {
    font: 400 15px/27px RobotoRegular;
    margin: 30px 0;
    width: 1094px;
}

.comments__author {
    color: rgba(24, 79, 119, 0.3);
    font: 400 18px RubikRegular;
}

.comments__show-more {
    margin: 50px;
    background: white;
    color: rgba(60, 172, 254, 1);
    border-radius: 70px;
    border: rgba(60, 172, 254, 1) solid 2px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-family: RubikBold;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 0 33px;
    margin-top: 0;
}

.subscribe-wrapper {
    background: linear-gradient(90deg, #60BBFE 0%, #3CACFE 100%);
    display: flex;
    justify-content: center;
}

.subscribe-background {
    background: url(assets/images/subscribe-back.jpg) no-repeat top;
    width: 100%;
}

.subscribe {
    padding: 80px 0;
}

.subscribe__heading {
    color: white;
    margin: 0;
}

.subscribe__description {
    font: 400 18px/22px RubikRegular;
    color: white;
    margin-top: 30px;
}

.subscribe__email {
    position: relative;
    padding-top: 40px;
    width: 480px;
}

.subscribe__email 
input {
    width: 480px;
    height: 60px;
    padding: 22px 70px 22px 30px;
    border: none;
    border-radius: 65px;
    background: rgba(255, 255, 255, 1);
    outline: none;
    font: 400 18px RubikRegular;
}

.email-button {
    position: absolute;
    background: url(assets/images/arrow-email.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    right: 30px;
    bottom: 18px;
    cursor: pointer;
}

.contacts {
    display: flex;
}

.contacts-wrapper {
    display: flex;
    background: rgb(241, 245, 249);
}

.map {
    background: url(assets/images/map.png) no-repeat;
    position: relative;
    width: 50%;
    background-size: cover;
    background-position-x: right;
}

.map__description {
    position: absolute;
    padding: 33px;
    width: 302px;
    background: rgb(255, 255, 255);
    font: 400 18px RubikRegular;
    box-shadow: 0px 24px 54px rgba(24, 79, 119, 0.3);
    right: 155px;
    bottom: 105px;
}

.map__description::before {
    position: absolute;
    content: url(assets/images/polygon.png);
}

.map__description-heading {
    font: 700 18px RubikBold;
    margin: 0;
    margin-bottom: 15px;
    color: rgba(81, 181, 254, 1);
}

.contacts__description {
    padding-top: 80px;
    padding-bottom: 120px;
    width: 50%;
}

.contacts__description-heading {
    margin: 0;
}

.contacts__description-info {
    display: grid;
    grid-template-columns: 276px 276px;
    list-style: none;
    margin-top: 50px;
    gap: 30px;
    margin-left: 50px;
}

.contacts__description-info
li {
    font: 400 15px/18px RubikRegular;
    color: #184F77;
    position: relative;
    margin-left: -25px;
}

.contacts__description-info
li::before {
    position: absolute;
    left: -25px;
}

.contacts__description-text {
    margin: 0;
    margin-top: 40px;
    width: 490px;
    font: 400 18px/27px RubikRegular;
    color: #184F77;
}

.footer-wrapper {
    background: rgba(24, 79, 119, 1);
}

.footer-page {
    font: 400 14px RubikRegular;
    color: white;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.address {
    width: 235px;
}

.address-footer {
    width: 235px;
}

.telephone::before {
    content: url(assets/images/icon-tel.svg);
}

.working-days::before {
    content: url(assets/images/icon-clock.svg);
}

.address::before {
    content: url(assets/images/icon-address.svg);
}

.email::before {
    content: url(assets/images/icon-email.svg);
}

.telephone-footer::before {
    content: url(assets/images/footer-tel.svg);
}

.working-days-footer::before {
    content: url(assets/images/footer-clock.svg);
}

.address-footer::before {
    content: url(assets/images/footer-address.svg);
}

.email-footer::before {
    content: url(assets/images/footer-email.svg);
}

.logo {
    background: url(assets/images/footer-logo.png) no-repeat;
    width: 86px;
    height: 86px;
    cursor: pointer;
    display: block;
}

.promise {
    margin-top: 27px;
    width: 260px;
    font-size: 15px;
}

.organization {
    margin-top: 41px;
    text-transform: uppercase;
    line-height: 30px;
}

.footer-contacts {
    list-style: none;
}

.list-heading {
    font: 700 18px RubikBold;
    margin: 0;
}

.footer-lists {
    display: grid;
    grid-template-columns: 174px 174px;
    gap: 30px;
} 

.footer-list 
ul {
    list-style: none;
    margin-top: 30px;
}

.footer-contacts 
li {
    position: relative;
    margin-top: 30px;
}

.footer-contacts 
li:first-child {
    position: relative;
    margin-top: 0;
}

.footer-contacts 
li::before {
    position: absolute;
    left: -25px;
}

.footer-lists__bottom {
    grid-column: 1 / 3;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.copyright {
    margin-top: 15px;
}

.agree-docs {
    text-decoration-line: underline;
}